pyttsx3==2.90
keyboard==0.13.5
Pillow==11.2.1
pytesseract==0.3.10
mss==9.0.1
numpy==2.2.5
sounddevice==0.4.6
edge-tts==6.1.9
pydub==0.25.1
SpeechRecognition==3.10.1
python-docx==1.1.0
PyPDF2==3.0.1 